#sidr-existing-content {
  background-color: #005f66;
  border: none;
  border-radius: none !important;
  box-shadow: none;
  .sidr-inner {
    i {
      height: 14px;
      width: 14px;
    }
    margin-top: 200px;
    text-align: left;
    p {
      color: #dddddd;
    }
    .sidr-class-title{
      font-weight: bold;
      color: white;
      letter-spacing: 1px;
      font-family: Helvetica;
      font-size: 18px;
    }
  }
}

#sidr-existing-content2 {
  background-color: #005f66;
  border: none;
  border-radius: none !important;
  box-shadow: none;
  .sidr-inner {

    margin-top: 200px;
    text-align: left;
    p {
      color: #dddddd;
    }
    .sidr-class-title{
      font-weight: bold;
      color: white;
      letter-spacing: 1px;
      font-family: Helvetica;
      font-size: 18px;
    }
  }
}

#sidr-existing-content3 {
  background-color: #005f66;
  border: none;
  border-radius: none !important;
  box-shadow: none;
  .sidr-inner {
    margin-top: 200px;
    text-align: left;
    p {
      color: #dddddd;
    }
    .sidr-class-title{
      font-weight: bold;
      color: white;
      letter-spacing: 1px;
      font-family: Helvetica;
      font-size: 18px;
    }
  }
}

.slim {
  display:none;
}